*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
}
/* #logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    margin-right: 20px;
} */
#logo2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    margin-right: 20px;
}

#logo path:nth-child(1){
    stroke-dasharray: 30px;
    stroke-dashoffset: 30px;
    animation: line-anim 2s ease forwards;
}
#logo path:nth-child(2){
    stroke-dasharray: 44.49px;
    stroke-dashoffset: 44.49px;
    animation: line-anim 2s ease forwards;
}
#logo path:nth-child(3){
    stroke-dasharray: 48.22px;
    stroke-dashoffset: 48.22px;
    animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(4){
    stroke-dasharray: 52.06px;
    stroke-dashoffset: 52.06px;
    animation: line-anim 2s ease forwards 0.6s;

}
#logo path:nth-child(5){
    stroke-dasharray: 48.2px;
    stroke-dashoffset: 48.2px;
    animation: line-anim 2s ease forwards 0.9s;
}
#logo path:nth-child(6){
    stroke-dasharray: 50px;
    stroke-dashoffset: 50px;
    animation: line-anim 2s ease forwards 1.1s;

}
#logo path:nth-child(7){
    stroke-dasharray: 46.42px;
    stroke-dashoffset: 46.42px;
    animation: line-anim 2s ease forwards 1.4s;

}
#logo path:nth-child(8){
    stroke-dasharray: 50px;
    stroke-dashoffset: 50px;
    animation: line-anim 2s ease forwards 1.7s;

}
#logo path:nth-child(9){
    stroke-dasharray: 30px;
    stroke-dashoffset: 30px;
    animation: line-anim 2s ease forwards 1.7s;

}
/* second Logo */

#logo2 path:nth-child(1){
    stroke-dasharray: 0px;
    stroke-dashoffset: 0px;
    animation: line-anim 2s ease forwards;
}
#logo2 path:nth-child(2){
    stroke-dasharray: 100px;
    stroke-dashoffset: 100px;
    animation: line-anim 2s ease forwards 0.3s;
}
#logo2 path:nth-child(3){
    stroke-dasharray: 100px;
    stroke-dashoffset: 100px;
    animation: line-anim 2s ease forwards 0.6s;
}
#logo2 path:nth-child(4){
    stroke-dasharray: 100px;
    stroke-dashoffset: 100px;
    animation: line-anim 2s ease forwards 0.9s;
}
#logo2 path:nth-child(5){
    stroke-dasharray: 100px;
    stroke-dashoffset: 100px;
    animation: line-anim 2s ease forwards 1.1s;
}
#logo2 path:nth-child(6){
    stroke-dasharray: 100px;
    stroke-dashoffset: 100px;
    animation: line-anim 2s ease forwards 1.4s;
}
#logo2 path:nth-child(7){
    stroke-dasharray: 100px;
    stroke-dashoffset: 100px;
    animation: line-anim 2s ease forwards 1.7s;
}
#logo2 path:nth-child(8){
    stroke-dasharray: 100px;
    stroke-dashoffset: 100px;
    animation: line-anim 2s ease forwards 2.1s;
}
#logo2 path:nth-child(9){
    stroke-dasharray: 100px;
    stroke-dashoffset: 100px;
    animation: line-anim 2s ease forwards 2.1s;
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}